.card {
    width: 18rem;
}

.card {
    border-color: rgba(0, 0, 0, 0);
}

.btn-light {
    border-color: rgb(1, 121, 11);
}

.btn-light:hover {
    background-color: rgb(1, 121, 11);
    color: rgb(255, 255, 255)
}